aclocal.m4
configure
Makefile.in
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
include/config.h.in
src/Makefile.in
src/.deps
config.log
config.status
Makefile
include/stamp-h1
*.o
tcpclient
tcpserver
tcpadmin
.vscode
server_passwords.txt
server_whitelist.txt
passwd
whitelist
config.h
config.h.in~
my_adduser
server.log
prime_calc
sp_primes.txt
threaded_primes.txt
million.txt
csv2bin
keygen
repsvr
